:root {
  --light-bg-color: #f0f0f0;
  --dark-bg-color: #1e1e1e;
  --light-text-color: #333;
  --dark-text-color: #f0f0f0;
  --button-hover: #005bb5;
  --button-bg-light: #0078d7;
  --button-bg-dark: #333;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.train-visualization {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  transition: all 0.5s ease;
  overflow-x: hidden;
  overflow-y: hidden;
}

.train-car {
  width: 120px;
  height: 100px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.car-move {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.train-engine {
  width: 120px;
  height: 100px;
  background-image: url("../assets/images/engine.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--button-bg-light);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover);
}

#theme-toggle {
  font-size: 18px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .train-visualization {
    flex-direction: row;
    gap: 10px;
  }

  .train-car,
  .train-engine {
    width: 80px;
    height: 60px;
  }
}

/* Dark Mode */
body.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

body.dark-mode .train-car {
  background-color: transparent;
}

body.dark-mode .train-engine {
  background-image: url("../assets/images/engine.png");
}
