body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #0078d7;
  color: white;
  padding: 5px 0px;
  text-align: center;
}

.info-panel {
  background: rgb(230, 220, 220);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-panel span {
  display: block;
  margin: 5px 0;
}

main {
  background-color: #0078d7;
}

aside {
  float: left;
  padding-left: 50px;
  width: 20%;
  background: rgb(189, 204, 175);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.visualization {
  float: left;
  width: 75%;
  padding: 20px 0px;
  height: 400px;
  background: rgb(186, 196, 240);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0;
}

button:hover {
  background-color: #005bb5;
}

.bar {
  display: inline-block;
  margin: 2px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #0078d7, #005bb5);
  text-align: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.bar.shake {
  animation: shake 0.5s;
}

.bar.jump {
  animation: jump 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
