@import "../../common/base.css";

/* Theme selector styles */
.theme-select {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background: var(--card-bg-color);
  color: var(--text-color);
  font-size: 0.9rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s ease;
}

.theme-select:hover {
  border-color: var(--primary-color);
}

.theme-select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.progress-bar {
  position: sticky;
  top: 60px; /* Position below header */
  z-index: 100;
  background: var(--bg-color);
  padding: 1rem;
}

.progress-container {
  position: relative;
  margin: 0 20px;
  flex: 1;
}

.progress-indicator {
  position: absolute;
  top: 40%;
  left: 15%;
  right: 15%;
  height: 4px;
  background: var(--border-color);
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 2px;
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--primary-color); /* Changed to primary color */
  border-radius: 2px;
  transition: width 0.3s ease;
}

.step-item {
  position: relative;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  flex: 1;
}

.step-circle {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--border-color);
  color: var(--text-color);
  line-height: 40px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.step-item.active .step-circle {
  background-color: var(--primary-color);
  color: var(--card-bg-color);
}

.step-item.completed .step-circle {
  background-color: var(--secondary-color);
  color: var(--card-bg-color);
}

.step-label {
  margin-top: -3px;
  font-size: 0.9em;
  color: var(--text-color);
}

/* Header Controls */
.header-controls {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

#theme-toggle,
#menu-toggle {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

/* Content Sections */
.content-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(
    100vh - 110px
  ); /* Adjusted to account for header and progress bar */
  background: var(--card-bg-color);
  margin: 0; /* Added to remove any default margins */
  padding-top: 80px; /* Match container padding-top */
  min-height: calc(100vh - 80px); /* Subtract header height */
}

.content-section {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  /* padding: 1rem; Added consistent padding */
  margin: 0; /* Remove any default margins */
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s ease;
  overflow-y: auto;
}

.content-section.active {
  left: 0;
  opacity: 1;
}

/* Menu Styles */
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  padding: 10px;
}

#menu ul li a {
  text-decoration: none;
  color: var(--text-color);
}
